* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'PT Sans', sans-serif;
    max-width: 100%;
}

.navBar {
    background-color: #F5005B;
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.navBar img {
    width: 180px;
    height: 180px;
}

.navBar div {
    flex-grow: 1;
    text-align: center;
}

.navBar a {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
    text-decoration: none;
}

.navBar a:first-child {
    background-color: #00A5BF;
}

.navBar a:nth-child(2) {
    background-color: #00B7D3;
}

.navBar a:last-child {
    background-color: #00D5E7
}


/*End Nav Bar*/

.sectionOne {
    margin: 0 5%;
}

.sectionOne p {
    margin: 1rem 0;
}

.sectionOne h1 {
    margin: 1rem 0;
    color: #0B1942;
}

.subSection h1 {
    padding: 5px 0 5px 16px;
    color: white;
    background-color: #0B1942;
}


/*Section one Done*/

.sectionTwo {
    background-color: #0b1942;
    color: white;
    padding: 0 0 50px;
}

.list {
    padding: 0 0 0 25px;
}

.sectionTwo h1 {
    margin: 0 3rem;
    padding: 15px 0px;
}

.sectionTwo a {
    color: #00B7D3
}

.subsectionOne {
    background-color: white;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    color: #0B1942;
    margin: 0 1rem 2rem;
    padding: 10px;
}

.line {
    border-bottom: 1px solid black;
}

.subsectionOne div {
    flex: 1 50%
}

.subsectionOne img {
    width: 100%;
}

.subsectionOne a {
    font-size: x-large;
}

.subsectionOne p {
    padding: .5rem 0 1rem;
}

.subsectionOne ul {
    line-height: 2rem;
    padding: 0px 0 0 25px;
    font-weight: lighter;
}

.subsectionTwo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 1rem;
    color: #0B1942;
}

.subsectionTwo a {
    margin: 0rem 0.6rem;
}

.subsectionTwo p {
    margin: 0 0.6rem;
}

.images {
    display: flex;
    flex-wrap: wrap;
}

.images img {
    width: 90%;
    padding: 10px 10px 0 10px;
}

.images p {
    padding: 6px 0
}

.images div {
    background-color: #E2E2E2;
    flex: 1 50%;
}

.bottomNav {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.bottomNav div {
    flex-grow: 1;
    text-align: center;
}

.bottomNav a {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
    text-decoration: none;
}

.bottomNav a:first-child {
    background-color: #00A5BF;
}

.bottomNav a:nth-child(2) {
    background-color: #00B7D3;
}

.bottomNav a:last-child {
    background-color: #00D5E7
}


/*bottom nav done*/

footer {
    background-color: #7DDFE8;
    padding: 40px 0px;
    text-align: center;
    color: white;
    font-size: large;
}


/*footer done*/

@media only screen and (min-width:544px) {
    .subSection {
        display: flex;
    }
    .getInvolved {
        margin: 0 0 -1rem 0
    }
    .subSection h1 {
        font-size: small;
        font-weight: lighter;
    }
    .subSection div {
        padding: 0 1rem 0 0;
        flex: 1 100%
    }
    .images {
        display: flex;
        flex-wrap: nowrap;
    }
}